body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: sans-serif;
  background-color: rgb(205, 90, 145);
  position:relative;
  overflow-y:auto;
 
    z-index: 0;
    color: #333;
    font: 14px Helvetica Neue,Arial,Helvetica,sans-serif;
    line-height: 18px;
    font-weight: 400;
    display:block;
}
html
{
  height: 100%;
  color: #333;
  font: 14px Helvetica Neue,Arial,Helvetica,sans-serif;
  line-height: 18px;
  font-weight: 400;
}